<div id="delete-confirmation-popup" style="display:none;">
    <p>Are you sure you want to delete this item?</p>
    <button id="confirm-delete">Delete</button>
    <button id="cancel-delete">Cancel</button>
</div>
